@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
}

:root {
  --clr-sblue: hsl(215, 51%, 70%);
  --clr-cyan: hsl(178, 100%, 50%);
  --bg-main: hsl(217, 54%, 11%);
  --bg-card: hsl(216, 50%, 16%);
  --bg-line: hsl(215, 32%, 27%);
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: var(--bg-main);
  color: var(--clr-sblue);
  font-family: Outfit, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

section {
  max-width: 300px;
  padding: 1.5rem;
  background-color: var(--bg-card);
}

.preview {
  max-width: 100%;
}

h1 {
  color: white;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.5rem;
}

.bits {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  align-items: center;
}

.price {
  color: var(--clr-cyan);
  font-weight: 600;
}

p {
  font-weight: 300;
}

a,
a:visited {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}

a:hover {
  color: var(--clr-cyan);
}

hr {
  border-style: solid;
  border-width: 1px;
  border-color: var(--bg-line);
}

h1,
p,
.bits {
  margin-block: 1rem;
}

.info img {
  margin-right: 0.5rem;
}

img.author-avatar {
  height: 2rem;
  border: 2px solid white;
  border-radius: 96px;
  margin-right: 1rem;
}

.author {
  margin-block-start: 1rem;
}

.author > span {
  position: relative;
  top: -0.1rem;
}
