@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
}

:root {
  --clr-sblue: hsl(215, 51%, 70%);
  --clr-cyan: hsl(178, 100%, 50%);
}

body {
  height: 100vh;
  width: 100vw;
}
